!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %title
      = "TRY-CHAT |"
      - if @status == 404
        = t('page_not_found', scope: 'public.error_messages')
      - else
        = t('internal_server_error', scope: 'public.error_messages')

    = favicon_link_tag 'favicon.ico', rel: 'shortcut icon'

    = stylesheet_link_tag 'application'

    %meta{ name: :author,   content:  'Uldis Megnis / uldis.megnis@gmail.com' }
    %meta{ name: :viewport, content:  'width=device-width, initial-scale=1' }

  %body{class: 'errors-page'}
    .container.error-message
      .row
        .jumbotron
          %h1= 'Error'

          %p
            - case @status.to_i
            - when 404
              = t('page_not_found', scope: 'public.error_messages')
            - else
              = t('internal_server_error', scope: 'public.error_messages')

          %a{href: '/', class: ['btn', 'btn-primary', 'btn-lg']}= t('return', scope: 'public.error_messages')
