%header.navbar.navbar-default
  .container-fluid
    .header-logo
      %a.navbar-brand{href: '/'}
        %i.fa.fa-comments
        %span= 'TRY-CHAT'

    %ul.navbar-right.nav.navbar-nav
      %li.current-user
        %i.fa.fa-user
        %span= current_user.email
      %li.logout
        = form_tag(destroy_user_session_path, method: :delete) do
          %button{type: :submit, class: ['btn', 'btn-warning']}
            %span= t('logout', scope: 'public.page.index')

%main
  :ruby
    translations = {
      messages: {
        new_message: t('new_message', scope: 'public.page'),
        send_message: t('send_message', scope: 'public.page'),
        online_users: t('online_users', scope: 'public.page'),
      },
      channels: {
        channel_name: t('channel_name', scope: 'public.page'),
        create_channel: t('create_channel', scope: 'public.page'),
        channels_title: t('channels_title', scope: 'public.page'),
      }
    }
  .container-fluid
    = react_component('App', {token: form_authenticity_token, translations: translations, channels: @channels.map{ |c| ChannelSerializer.new(c) }}, {prerender: false, id: 'main-content'})
